.backgroundTitle {
  background-size: cover;
  background-image: url("/images/foto-3.webp");
  min-height: 590px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleDiv {
  display: flex;
  height: 590px;
  width: 70%;
}

.textDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: 2rem;
}

@media (max-width: 330px) {
  .textDiv {
    margin-left: 0rem;
  }
}

.titleBlue {
  color: #64ccc5;
  font-size: 40pt;
}

.titleWhite {
  color: #eee;
  background-color: #053b50;
  width: 400px;
  margin-left: -17rem;
  text-align: end;
  font-size: 40pt;
}

.titleJob {
  color: #eee;
  font-size: 30pt;
  font-style: italic;
}

.imgDiv {
  width: 50%;
  background-image: url("/images/titleBackground-not-bg.png");
  background-size: cover;
  animation-name: blur-radius;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes blur-radius {
  0% {
    filter: brightness(80%) saturate(100%) hue-rotate(310deg) sepia(0%)
      invert(0%) opacity(100%) drop-shadow(60px 60px 50px #f22067);
  }
  15% {
    filter: brightness(80%) saturate(100%) hue-rotate(310deg) sepia(0%)
      invert(0%) opacity(100%) drop-shadow(60px 60px 80px #f22067);
  }
  25% {
    filter: brightness(80%) saturate(100%) hue-rotate(310deg) sepia(0%)
      invert(0%) opacity(100%) drop-shadow(60px 60px 110px #f22067);
  }
  35% {
    filter: brightness(80%) saturate(100%) hue-rotate(310deg) sepia(0%)
      invert(0%) opacity(100%) drop-shadow(60px 60px 140px #f22067);
  }
  50% {
    filter: brightness(80%) saturate(100%) hue-rotate(310deg) sepia(0%)
      invert(0%) opacity(100%) drop-shadow(60px 60px 180px #f22067);
  }
  65% {
    filter: brightness(80%) saturate(100%) hue-rotate(310deg) sepia(0%)
      invert(0%) opacity(100%) drop-shadow(60px 60px 140px #f22067);
  }
  75% {
    filter: brightness(80%) saturate(100%) hue-rotate(310deg) sepia(0%)
      invert(0%) opacity(100%) drop-shadow(60px 60px 110px #f22067);
  }
  85% {
    filter: brightness(80%) saturate(100%) hue-rotate(310deg) sepia(0%)
      invert(0%) opacity(100%) drop-shadow(60px 60px 80px #f22067);
  }
  100% {
    filter: brightness(80%) saturate(100%) hue-rotate(310deg) sepia(0%)
      invert(0%) opacity(100%) drop-shadow(60px 60px 50px #f22067);
  }
}

@media (max-width: 1220px) {
  .titleDiv {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .titleDiv {
    width: 90%;
  }
}

@media (max-width: 870px) {
  .imgDiv {
    display: none;
  }
  .titleDiv {
    justify-content: center;
  }
}
