.experienceDiv {
  background-color: #176b87;
  border-radius: 10px;
}

.expList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.normalLi {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.reverseLi {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

@media (max-width: 1024px) {
  .reverseLi {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }
  .normalLi {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .listText {
    width: 100%;
    padding-left: 10rem;
  }
}

@media (max-width: 990px) {
  .listText {
    padding-left: 9rem;
  }
}

@media (max-width: 895px) {
  .listText {
    padding-left: 7rem;
  }
}

.listİmg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listİmg > img {
  border: 3px solid #eee;
  border-radius: 50%;
  width: 190px;
  height: 150px;
}
