.aboutDiv {
  border: 3px solid #64ccc5;
  border-radius: 10px;
  background-color: #64ccc5;
}

.aboutDetail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: 1em 0.5em;
}

.aboutİmg > img {
  width: 150px;
  height: 150px;
  border: 2px solid #053b50;
  border-radius: 20px;
  filter: brightness(80%);
  margin-left: 1em;
}

.aboutText > p {
  color: #eee;
  font-size: 14pt;
  text-align: center;
  margin-right: 1em;
}

.smallTitle {
  display: flex;
  justify-content: center;
}

.smallTitle > h3 {
  font-size: 24pt;
  color: #eee;
}

.schoolList {
  margin: 1em 0.5em;
  border: 2px solid black;
  display: flex;
  justify-self: center;
  justify-content: space-between;
  flex-direction: row;
  width: 80%;
  gap: 2em;
  list-style: url("../../assets/icons/right-arrow.png");
}

.schoolList > li {
  width: 45%;
  height: 200px;
  border: 3px solid black;
}

.skillList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.skillList > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  border: 1px solid #eee;
  border-radius: 50%;
  box-shadow: 9px 6px 0px 1px rgba(238, 238, 238, 1);
  -webkit-box-shadow: 9px 6px 0px 1px rgba(238, 238, 238, 1);
  -moz-box-shadow: 9px 6px 0px 1px rgba(238, 238, 238, 1);
  width: 170px;
  height: 170px;
}

.skillList > li:hover {
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: none;
  border: none;
}

.skillList > li > img {
  width: 90px;
}

.skillList > li > h4 {
  color: #eee;
  font-size: 15pt;
}

@media (max-width: 1045px) {
  .projectDiv > p {
    margin-top: 1rem;
  }
  .aboutDetail {
    flex-direction: column;
  }
  .aboutİmg > img {
    margin-left: 0rem;
  }
  .aboutİmg {
    height: 185px;
  }
  .aboutText > p {
    margin-left: 1rem;
  }
}
@media (max-width: 274px) {
  .projectDiv > a > img {
    display: none;
  }
}
