.aboutDiv {
  border: 3px solid #64ccc5;
  border-radius: 10px;
  background-color: #64ccc5;
}

.aboutDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.aboutİmg > img {
  width: 180px;
  filter: brightness(80%);
  margin-left: 1rem;
}

.aboutText > p {
  color: #eee;
  font-size: 14pt;
  margin-right: 1rem;
  text-align: center;
}

.projectDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.projectDiv > p {
  color: #eee;
  font-size: 14pt;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.projectDiv > a {
  border: 2px solid black;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #eee;
}

.projectDiv > a:hover {
  animation-name: pulse;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.projectDiv > a > img {
  width: 50px;
}

.skillTitle {
  display: flex;
  justify-content: center;
}

.skillTitle > h3 {
  font-size: 24pt;
  color: #eee;
}

.skillList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.skillList > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  border: 1px solid #eee;
  border-radius: 50%;
  box-shadow: 9px 6px 0px 1px rgba(238, 238, 238, 1);
  -webkit-box-shadow: 9px 6px 0px 1px rgba(238, 238, 238, 1);
  -moz-box-shadow: 9px 6px 0px 1px rgba(238, 238, 238, 1);
  width: 170px;
  height: 170px;
}

.skillList > li:hover {
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: none;
  border: none;
}

.skillList > li > img {
  width: 90px;
}

.skillList > li > h4 {
  color: #eee;
  font-size: 15pt;
}

@media (max-width: 1045px) {
  .projectDiv > p {
    margin-top: 1rem;
  }
  .aboutDetail {
    flex-direction: column;
  }
  .aboutİmg > img {
    margin-left: 0rem;
  }
  .aboutİmg {
    height: 185px;
  }
  .aboutText > p {
    margin-left: 1rem;
  }
}
