.backgrDiv {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #64ccc5;
  color: #000;
  width: 70%;
  gap: 2rem;
  padding-bottom: 2rem;
}

.myProjectsDiv {
  border: 3px solid red;
  width: 70%;
}
