* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
my colors
#eee --white
#64ccc5 --light blue
#053b50 -- dark blue
#000 -- black
*/

.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.background {
  background-image: url("/images/backgr-0.webp");
  background-size: 30%;
  background-position: center;
  min-height: 100vh;
}

.fallback {
  border: 2px solid #053b50;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  font-size: 15pt;
  background-color: #053b50;
  color: #fff;
  width: 150px;
}

.midTitleDiv {
  display: flex;
  justify-content: center;
}

.midTitleDiv > h3 {
  font-size: 32pt;
  color: #eee;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}
